body {
  margin: 0px;
  background: #17171a;
  font-family: consolas;
  color: white;
  background-image: url("https://i.pinimg.com/originals/0c/cc/54/0ccc5445cb33d6266fe2146dc93f1edf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  width: 300px;
  margin-right: 25px;
}

#logo {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-left: 13px;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  background: #9a4dff44;
  height: 60px;
}

.movie {
  display: flex;
  margin-top: 70px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 690px;
  background: #9a4dff18;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

#img-poster {
   border-radius: 5px;
   margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
}

.content {
  display: flex;
}

.content-info {
  margin-left: 30px;
  margin-right: 29px;
  margin-bottom: 20px;
}

#title {
  margin-bottom: -5px;
}

#date {
  font-size: 12px;
  color: rgb(85, 78, 97);
}

#description {
  margin-top: 38px;
  font-size: 14px;
}

#director {
  font-size: 12px;
  color: rgb(85, 78, 97);
  margin-bottom: 26px;
}

#buttons {
  margin-top: 40px;
  color: white;
  background: #9a4dff18;
  border: none;
  width: 100px;
  height: 37px;
  text-align: center;
  border-radius: 2.3px;
}

#buttons:hover {
  color: #2e2584;
  background: #5921f3;
  box-shadow: 0 0 10px #5921f3, 0 0 40px #5921f3, 0 0 80px #5921f3;
  border: none;
  font-family: consolas;
  height: 37px;
  width: 100px;
  font-weight: bolder;
}

.next--back {
  display: flex;
  justify-content: space-around;
}

#play {
  margin-top: 17px;
  width: 350px;
  height: 37px;
  background: transparent;
  border: 1px solid #5921f3;
  color: white;
}

#play:hover {
  color: #2e2584;
  background: #5921f3;
  box-shadow: 0 0 10px #5921f3, 0 0 40px #5921f3, 0 0 80px #5921f3;
  border: none;
  font-family: consolas;
  font-weight: bolder;
}

